* html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif !important;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h2 {
  margin-top: 0;
  font-size: 1.5rem;
}
a {
  color: #060606;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #474747;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'navbar'
    'filtro'
    'main'
    'footer';
  gap: 0;
  width: 100vw;
  text-align: center;
  padding: 1rem 2rem;
  vertical-align: middle;
  height: 100vh;
}
.btn-back {
  border-radius: 100px;
  padding: 0.25rem 1rem;
  background-color: #75c9bc;
  border: none;
  font-size: 0.75rem;
  color: white;
}
.btn-back:hover {
  background-color: #d8646c;
  font-weight: 500;
  color: white;
}
.disclaimer {
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.disclaimer p {
  margin-bottom: 0;
}
/* Borde */
img {
  width: 300px;
  height: auto;
  cursor: pointer;
  border: none; /* Sin borde inicial */
  border-radius: 1rem;
}
.bordeRed {
  border: 2px solid red;
}
.imgContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Stickers */
.card img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border: none; /* Sin borde inicial */
  border-radius: 100%;
}
.cards {
  display: flex;
  gap: 1.3rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem auto;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 1rem 2rem 2rem 2rem;
}
.btn-dark {
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  background-color: rgb(45, 118, 235);
  border: none;
  font-size: 1.2rem;
}
.btn-dark:hover {
  background-color: #75c9bc;
  font-weight: 500;
}
.alerta-too-many {
  color: red;
  margin-top: 2rem;
  font-size: 1.2rem;
}
.alerta-ok {
  color: green;
  margin-top: 2rem;
  font-size: 1.2rem;
}
.resultado {
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
input {
  width: 50px;
}
/* Password */
.correct1 {
  color: green;
  margin-top: 2rem;
}
.correct2 {
  color: blue;
  margin-top: 2rem;
}
.incorrect {
  color: red;
  margin-top: 2rem;
}
.formContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem auto;
}
.selector {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}
.form-select {
  border-radius: 0.65rem;
  border: solid rgb(46 118 235) 0.15rem;
  display: flex;
  width: 100%;
  padding: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  color: #2d2d2e;
}

/*Fin de Juego*/
.sticker-bg {
  background-image: url('../imgs/sticker-bg.png');
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.content {
  background-color: white;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.content .disclaimer {
  margin-top: 1rem !important;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    display: flex;
    gap: 1.3rem;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card img {
    width: 250px;
    height: 250px;
  }
  img {
    width: 350px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .grid-container {
    display: flex;
    gap: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .card img {
    width: 300px;
    height: 300px;
  }
  img {
    width: 350px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
}
